.contenedor-1 {
  padding-bottom: 100px;
  width: 100%;
  overflow: hidden;
  height: 500px;
  position: relative;
}
.contenedor-1 img{
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 500px;
  object-fit: cover;/*para que no pierda su forma la imagen*/
}

/*centraddo*/
.centrado {
  position: inherit;
  margin-top: 16%;
  padding-right: 15%;
  padding-left: 15%;
  text-align: center;
}
.centrado h1 {
  font-size: 80px;
  font-family: "Inspiration", cursive;
  letter-spacing: 5px;
  text-shadow: 3px 5px #000000;
  color: #ffffff;
}
/*////////////////**/
.contenido-izquierda-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px auto;
  background-color: rgba(80, 80, 80, 0.405);
  color: aliceblue;
  padding: 15px;
}

.contenido-izquierda-1 img {
  float: left;
  margin-right: 15px;
  width: 60%;
}
.contenido-izquierda-1 p {
  margin-top: 10%;
  font-family: "Ramaraja", serif;
  text-transform: uppercase;
}

.contenido-derecha-1 {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin: 20px auto;
  background-color: rgba(80, 80, 80, 0.405);
  color: aliceblue;
  padding: 15px;
}
.contenido-derecha-1 img {
  float: right;
  margin-left: 15px;
  width: 60%;
}
.contenido-derecha-1 p {
  margin-top: 16%;
  font-family: "Ramaraja", serif;
  text-transform: uppercase;
  text-align: right;
}

.maps {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px auto;
  background-color: rgba(80, 80, 80, 0.405);
  color: aliceblue;
  padding: 15px;
}

.maps iframe {
  float: left;
  margin-right: 15px;
}

.maps p {
  margin-top: 6%;
  font-family: "Ramaraja", serif;
  text-transform: uppercase;
}

.fijo {
  background-color: #e1e1e1;
  text-shadow: 1.5px 1px #000000;
  text-align: left;
  width: 100%;
  height: 18%;
  position: fixed;
  z-index: 10; /*para que el fixed pase por ensima del imagen*/
  margin-top: -1px;
  box-shadow: 0px 3px 10px #000000;
}
.fijo h1 {
  position: absolute;
  margin-top: 5px;
  padding: 5px;
  -webkit-text-stroke: 1px black;
  color: #ff3939;
  font-size: 50px;
  font-family: "Bungee", cursive;
  letter-spacing: 3px;
}
.social img {
  max-width: 5%;
  height: auto;
  position: relative;
  left: 85%;
  padding: 10px;
  top: 40px;
}

.gallery-1 {
  height: 22%;
  padding: 80px;
}

.menu-1 {
  padding: 10px;
  font-size: 12px;
}
legend {
  background-color: brown;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-family: "Lobster", cursive;
  letter-spacing: 3px;
}
/*////////menu-1*/
fieldset {
  padding: 2px;
}

.menu-1 p {
  text-align: inherit;
  margin: 12px;
}
.menu-1 p:hover {
  color: #f21616;
}
/*////////*/
.p-1 {
  font-weight: bold;
}
.p-1:hover {
  color: #00000000;
}
.polaroid-1 {
  position: absolute;
  margin-top: 20px;
  left: 5%;
  width: 23%;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  transform: rotate(25deg);
  -ms-transform: rotate(25deg); /* IE 9 */
  -webkit-transform: rotate(17deg); /* Opera, Chrome, and Safari */
}

.polaroid-1 img {
  max-width: 100%;
  padding: 20px;
}
.polaroid-2 {
  position: relative;
  left: 0%;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  transform: rotate(25deg);
  -ms-transform: rotate(25deg); /* IE 9 */
  -webkit-transform: rotate(345deg); /* Opera, Chrome, and Safari */
}

.polaroid-2 img {
  max-width: 100%;
  padding: 20px;
}
.polaroid-3 {
  position: relative;
  left: 0%;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  margin-bottom: 25px;
  transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(15deg);
}

.polaroid-3 img {
  max-width: 100%;
  padding: 20px;
}
.polaroid-4 {
  position: relative;
  left: 0%;
  height: auto;
  top: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  margin-bottom: 25px;
  transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(345deg);
}

.polaroid-4 img {
  max-width: 100%;
  padding: 20px;
}

.footer p {
  margin: 20px;
  margin-top: 40px;
}
